@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');

@media (min-width: 930px) {
	.summary {
		text-align: left;
	}

	.projects-main {
		margin-top: -30vh;
	}

	.project {
		margin: 0;
		height: fit-content;
		font-family: 'Source Code Pro', monospace;	
		font-size: 1.5em;

			background-size: cover;
				background-attachment: fixed;
				background-position: center;
				background-repeat: no-repeat;

		/* color: whitesmoke; */
	}

	.project-content {
		padding: 10vh;
		height: 80vh;
		background-color: rgba(255, 255, 255,0.7);
		display: grid;
		grid-template: 1fr/ 1fr 1fr;
	}

	.empty {
		height: 100vh;
		width: 100vw;
	}

	.project-title {
		font-size: 80px;
		font-weight: 300;
		font-family: 'Courier Prime',
		sans-serif;

		color: #2bbdbd;
		color: #006B6B;

		align-self: start;
			justify-self: start;
			margin: 0;
	}

	.project-screencap {
		width: 100%;
		border: solid black 2px;
	}

	.left {
		align-items: center;
		justify-content: start;
	}

	.right {
		align-items: center;
		justify-content: end;
	}

	.left > .project-screencap-box {
			grid-row: 1;
			grid-column: 1;
	}

	.left > .highlights {
		grid-row: 1;
		grid-column: 1;
		margin-top: 5em;
		align-self: end;
	}

	.left > .project-copy {
		grid-row: 1;
		grid-column: 2;
		margin: 0 1em;
	}

	.right > .project-screencap-box {
		grid-row: 1;
		grid-column: 2;
	}

	.right > .highlights {
		grid-row:2;
		grid-column: 3;
		margin-top: 5em;
		align-self: center;
	}

	.right > .project-copy {
		grid-row: 1;
		grid-column: 1;
		margin: 0 1em;
	}

	.links-box {
		display: flex;
		flex-direction: row;
		justify-content:center;
	}
	.project-link {
		margin: 0 1em 0 1em;
	}

	.project-screencap-box {
		display: flex;
		flex-direction: column;
	}

	.project-link:hover {
		transition: ease-in-out 250ms;
		transform: scale(1.25);
	}

	.thumbnail-box {
		position: fixed;
		bottom: 0;
		height: 10vh;
		width: 100vw;
		z-index: 1;
		/* background-color: rgba(255, 255, 255, 1); */

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 2em;
	}

	.thumbnail {
		margin: 01em 1em 0 1em;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.thumbnail-image {
		border: solid black 3px;
		width: 150px;
	}

	.thumbnail-title {
		margin-top: 0.2em;
	}

	.thumbnail:hover {
		transition: ease-in-out 300ms;
		transform: scale(1.2);
	}

	/* @keyframes expand {
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
} */
}
