@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');

@media (min-width: 930px) {
	.summary {
		text-align: left;
	}

	.projects-main {
		background-color: blanchedalmond;
	}
	.project {
		margin: 1em;
		height: 75vh;

		display: grid;
		grid-template: 3fr/ 1fr 1fr;
		font-size: 1.5em;
	}

	.project-title {
		font-family: 'Source Code Pro',
		monospace;
	}

	.left {
		align-items: start;
		justify-content: start;
	}

	.right {
		align-items: start;
		justify-content: end;
	}

	.project h3 {
		align-self: start;
		justify-self: start;
		margin: 0;
		font-size: 1.5em;
	}

	.left img {
		border: solid white 2px;
		grid-row: 1;
		grid-column: 1;
		width: 40vw;
	}

	.left > .highlights {
		grid-row: 1;
		grid-column: 1;
		margin-top: 5em;
		align-self: center;
	}

	.left > .project-copy {
		grid-row: 1;
		grid-column: 2 / span 2;
		margin: 0 1em;
	}

	.right img {
		border: solid white 2px;
		grid-row: 1;
		grid-column: 3;
		width: 40vw;
	}

	.right > .highlights {
		grid-row: 1;
		grid-column: 3;
		margin-top: 5em;
		align-self: center;
	}

	.right > .project-copy {
		grid-row: 1;
		grid-column: 1 / span 2;
		margin: 0 1em;
	}

	.links-box {
		display: flex;
		flex-direction: row;
		justify-content:center;
	}
	.project-link {
		margin: 0 1em 0 1em;
	}

	.project-link:hover {
		transition: ease-in-out 250ms;
		transform: scale(1.25);
	}

	.thumbnail-box {
		position: fixed;
		bottom: 0;
		height: 10vh;
		width: 100vw;
		z-index: 1;
		/* background-color: rgba(255, 255, 255, 1); */

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 2em;
	}

	.thumbnail {
		margin: 01em 1em 0 1em;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.thumbnail-image {
		border: solid black 3px;
		width: 150px;
	}

	.thumbnail-title {
		margin-top: 0.2em;
	}

	.thumbnail:hover {
		transition: ease-in-out 300ms;
		transform: scale(1.2);
	}

	/* @keyframes expand {
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
} */
}
