
.headline {
    text-align: center;
}

.project-list {
    display: flex;
    flex-direction: column;
    height: 80vh;

    overflow: auto;
}

.project {
    text-align: center;
    margin: 2em 0;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(2px);
    height: fit-content;
}

.summary {
    text-align: left;
}

.title {
    font-size: 20px;
}

.screencap {
    width: 80%;
}



@media(min-width: 500px) {
    .project-list {
        grid-column: 2;
    }
}