@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,300&display=swap');

@media (min-width: 930px) {

	.home-bg {

		margin-top: -30vh;
		background-image: url('../../assets/Josie_Elle_4.jpg');
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.background-img {
		position: fixed;
		left: 28vw;
		width: 72vw;
	}


	.home-greeting-box {
		height: 100vh;
		width: 100vw;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.home-greeting {
		margin: 0 auto;
		margin-top: 50vh;
		line-height: 0.8;
		font-size: 70px;
		font-weight: 700;
		color: #018a8a;
		color: #2bbdbd;
		font-family: 'Courier Prime', sans-serif;
	}

	/* cool background name idea! Black in the back, transparent name. */


	.home-content-box {
		z-index: 1;
			height: 100vh;
			width: 100vw;
			display: grid;
		
			grid-template-columns: 1fr 1fr 1fr;
			align-items: center;
			text-align: left;
			background-color: rgba(245, 245, 245, 0.4);
	}
	.home-blurb  {
		grid-row: 1;
		grid-column: 1;
		align-self: center;

		margin-left: 5vw;
		margin-bottom: 0;
		height: fit-content;
		width: 100%;
		font-size: 30px;
		font-weight: 200;
		color: black;
		font-family: 'Source Code Pro', monospace;
	}
	
	.home-blurb span {
		font-weight: 900;
		font-family: 'Courier Prime', sans-serif;
		color: #006B6B;
		color: #2bbdbd;
	}

	.home-link {
		padding: 0.3em;
		width: fit-content;
		border: solid black 2px;
		border-radius: 33em;

		font-size: 20px;
		font-weight: 800;
		background-color: rgba(0, 0, 0, 0.4);
		color: #2bbdbd;
		text-decoration: none;

		grid-row: 1;
		grid-column: 1;
		justify-self: center;
		align-self: center;
		font-family: 'Source Code Pro', monospace;
	}

	.home-link:hover {
		border: solid #006B6B 2px;
		transform: scale(1.2);
		background-color: rgba(0, 0, 0, 0.7);
		transition: ease 1s;

		color: #2bbdbd;
	}

	.home-thumbnail {
		grid-row: 1;
		grid-column: 2/span 2;
		height: 60vh;
		width: 100%;
		justify-self: center;


		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: end;
		text-align: center;
		/* background: rgba(0, 0, 0, 0.1); */
		animation: fade 4.1s ease-in-out;

		font-size: 30px;
		color: #2bbdbd;
		color: black;
		font-family: 'Source Code Pro', monospace;
	}

	.home-thumbnail img {
		margin-top: 10em;
		border: solid black 2px;
		width: 40vw;
	}


	@keyframes fade {
		from {
			opacity: 0;
		}

		25% {
			opacity: 0.5;
		}

		50% {
			opacity: 1;
		}

		75% {
			opacity: 0.5;
		}

		to {
			opacity: 0;
		}
	}
}
