.background-img {
	position: fixed;
	left: 28vw;
	width: 72vw;
}

.see-through {
	height: 85vh;
	width: 100vw;
}

.home-name {
	z-index: 2;
	position: fixed;
	/* left: 3em; */
	bottom: 1.5em;
	line-height: 0.8;
	font-size: 120px;
}

/* cool background name idea! Black in the back, transparent name. */

.home-slides {
	position: fixed;
	z-index: 2;
	bottom: 0.5em;
}

.home-blurb {
	z-index: 1;
	height: 85vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: end;
	text-align: left;
	background-color: blanchedalmond;
}

.home-blurb img {
	width: 300px;
}

.home-blurb h1 {
	margin: 1em auto;
}

.home-blurb p {
	height: fit-content;
	margin: 1em auto;
	width: 500px;
	font-size: x-large;
}

.home-link {
	margin: 1em auto;
	font-size: larger;
	font-weight: 800;
}

.home-link:hover {
	color: darkblue;
}
