@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
	background-color: blanchedalmond;
}

header {
	padding: 1rem;
	height: 15vh;
	background-color: burlywood;

	display: flex;
	justify-content: space-around;
	align-items: space-around;

	text-decoration: none;
	font-size: 40px;
	font-weight: 400;
}

main {
	/* background: url('https://i.imgur.com/sNrBH3q.jpg'); */
	/* background-size: cover; */

	height: 85vh;
	display: flex;
	flex-direction: column;
}

button {
	background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	color: rgb(22, 156, 174);
}

p {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
}

.link {
	text-decoration: none;
	color: black;
}

.link:hover {
	color: gray;
}

.headline {
	grid-column: 1 / span 3;
	align-self: center;
	justify-self: center;
}

.pdf {
	margin: 0 auto;
	overflow: auto;
	box-shadow: 1px 2px 3px black;
}

/* @media (min-width: 500px) {
	main {
		grid-row: 2;
		grid-template-columns: 1fr 8fr 1fr;

	 background: url('https://i.imgur.com/kAajrl0.jpg');
    background-size: cover;
	}
} */
