@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
	/* background-color: blanchedalmond; */
}

header {
	z-index: 2;
	height: 15vh;
	width: 100vw;

	display: flex;
	justify-content: space-around;
	align-items: space-around;

	text-decoration: none;
	font-weight: 400;
	font-size: 30px;
}

main {
	margin-top: 15vh;
	display: flex;
	flex-direction: column;
}

button {
	background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	color: #006B6B;
}

p {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
}



.pdf {
	margin: 0 auto;
	overflow: auto;
	box-shadow: 1px 2px 3px black;
}

@media (min-width: 930px) {
	header {
		font-size: 40px;
	}
}
