.Nav {
    z-index: 2;
    width: 100vw;
	background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;

	font-size: 40px;
}

.Nav p {
    margin: 0;
}

.link {
    z-index: 3;
    display: flex;
    padding: 5vh;
    text-decoration: none;
    font-weight: 400;
    color: whitesmoke;
}

.link:hover {
    color: #006B6B;
    ;
}